
@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    .barraNavegacion {
        text-align: center;
        float: left;
        height: 110vh;
        width: auto;
        position: sticky;
        top: 0px;
        padding: 10px;
        @apply bg-base-dark;
    }

    .tarjetaDatos {
        padding-top: 10px;
    }
}

@layer components {
}

@layer utilities {
}

@layer variants {
}
